$breakpoint-tablet: 768px;

@font-face {
  font-family: "NespressoLucas-light";
  src: url("/shared_res/agility/commons/fonts/NespressoLucas-Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NespressoLucas-normal";
  src: url("/shared_res/agility/commons/fonts/NespressoLucas-Medium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: 'NespressoLucas-semibold';
//   src: url('/shared_res/agility/commons/fonts/NespressoLucas-SemiBd.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: "NespressoLucas-bold";
  src: url("/shared_res/agility/commons/fonts/NespressoLucas-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: "NespressoLucas";
//   src: url("/shared_res/agility/commons/fonts/NespressoLucas-Light.woff");
//   font-weight: 300;
//   font-style: normal;
// }

// @font-face {
//   font-family: "NespressoLucas";
//   src: url("/shared_res/agility/commons/fonts/NespressoLucas-Med.woff");
//   font-weight: 500;
//   font-style: normal;
// }

// @font-face {
//   font-family: "NespressoLucas";
//   src: url("/shared_res/agility/commons/fonts/NespressoLucas-SemiBd.woff");
//   font-weight: 900;
//   font-style: normal;
// }

//MULTI LINE ELLIPSIS
//https://gist.github.com/igorescobar/d74a76629bab47d601d71c3a6e010ff2
// e.g: @include truncate(.875em, 1.4, 10)
@mixin truncate($font-size, $line-height, $lines-to-show) {
  display: block; // Fallback for non-webkit
  display: -webkit-box;
  max-width: 400px;
  height: $font-size * $line-height * $lines-to-show; // Fallback for non-webkit
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
