.GridListViewReady {
  @import "common";
  @import "grid";
  @import "list";
  .ProductListGroupContainer {
    margin-left: 0;
    margin-right: 0;
    position: relative;
    & > div:not(.ProductListGroup__background--overflowed) {
      margin: 0 auto;
      max-width: 996px;
    }
  }
  .ProductListGroup__background--overflowed {
    position: absolute;
    width: 100%;
    z-index: 0;
    top: 0;
    right: 0;
    & > div {
      height: 375px;
      &:first-child {
        display: inline-block;
        background-color: black;
        width: 100%;
      }
      &:last-child {
        display: none;
      }
    }
  }
  .ProductListGroup__title {
    color: #ffffff;
    font-family: "NespressoLucas-light", Helvetica, Arial, sans-serif !important;
    font-size: 1.875rem;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 2.5rem;
    text-align: center;
    position: relative;
    float: none;
    padding-top: 32px;
    text-transform: uppercase;
  }

  .ProductListGroup__content {
    z-index: 1;
    position: relative;
  }

  .ProductListGroup__description {
    width: 100%;
    padding: 0;
    color: white;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.5rem;
    padding: 1rem 1rem 8.5rem;
    //padding: 2.5rem 1rem 8.5rem;
    font-family: "NespressoLucas-light", Helvetica, Arial, sans-serif !important;
    p {
      margin-top: 0;
      font-family: "NespressoLucas-light", Helvetica, Arial, sans-serif !important;
      font-size: 1rem;
      font-weight: 300;
      letter-spacing: 1px;
      line-height: 1.5rem;
    }
  }
  .ProductListElement__details {
    .ProductListElement__content {
      .ProductListElement__price {
        display: none;
      }
    }
  }

  .ProductListContainer {
    transform: translateY(-100px);
    background: white;
    margin: 0 1rem;
    li {
      border: 1px solid #e3e3e3;
      border-top: 0;
      background-color: #f6f4f2;

      .limited_edition__text,
      .ch_fairtrade-icon,
      .ProductListElement__cup-size {
        display: none;
      }
      .ProductListElement__image {
        width: auto;
        display: block;

        .ch_prodLabel {
          top: 8px;
          background-color: #e3e3e3;
          font-size: 8px;
          font-family: "NespressoLucas-bold", Helvetica, Arial, sans-serif !important;
          letter-spacing: 0.8px;
          line-height: 20px;
          z-index: 8;
          text-transform: uppercase;
          color: black;
          width: auto;
          padding: 0 8px;
          &:after {
            border: none;
          }
        }
      }

      .ProductListElement__headline {
        width: 100%;
        color: #000000;
        font-family: "NespressoLucas-normal", Helvetica, Arial, sans-serif !important;
        margin: 0;
        //@include truncate(0.875rem, 1.15, 2);
      }
    }
  }

  .ProductListElement {
    border-top: 0;
    background-color: #f6f4f2;
    & > .ProductListElement__name,
    & > .ProductListElement__content,
    & > .ProductListElement__price {
      display: none;
    }
  }

  .ProductListElement__intensity {
    span {
      color: #8f7247;
      font-family: "NespressoLucas-light", Helvetica, Arial, sans-serif !important;
      font-size: 0.625rem;
      line-height: 1rem;
    }
    .ProductListElement__intensenumber {
      font-family: "NespressoLucas-bold", Helvetica, Arial, sans-serif !important;
      font-size: 0.6875rem;
    }
    .ProductListElement__progress {
      width: 91px;
      margin: 0 auto;
      &Bar {
        width: 100%;
        background-color: rgba(143, 114, 71, 0.25);
        border-radius: 1px;
        &Fill {
          display: block;
          height: 2px;
          background-color: #8f7247;
          border-radius: 1px;
          //transition: width 500ms ease-in-out;
        }
      }
    }
  }
  .ProductListElement__price {
    color: #3d8705;
    font-family: "NespressoLucas-bold", Helvetica, Arial, sans-serif !important;
    font-size: 1rem;
    line-height: 1rem;
    margin: 16px auto 0;
    padding: 0;
    width: auto;
    span {
      color: #707070;
      display: block;
      font-family: "NespressoLucas-light", Helvetica, Arial, sans-serif !important;
      font-size: 0.625rem;
    }
  }
  @media (min-width: $breakpoint-tablet) {
    .ProductListGroup__background--overflowed {
      width: 100vw;
      margin-left: calc(-100vw / 2 + 496px / 2);
      & > div {
        height: 584px;
        &:first-child {
          width: calc(100% - 231px);
        }
        &:last-child {
          display: inline-block;
          background-color: grey;
          width: 231px;
        }
      }
    }
    .ProductListGroup__content {
      display: flex;
      width: 100%;
      padding-top: 82px;
    }
    .ProductListGroup__title {
      font-size: 1.75rem;
      letter-spacing: 6.22px;
      text-align: left;
      line-height: 3rem;
      padding-top: 67px;
      position: relative;
      font-weight: 300;
      margin: 0;
      width: calc(100% - 251px);
    }

    .ProductListGroup__description {
      text-align: left;
      padding-top: 0;
      padding-left: 0;
      width: 25%;
    }

    .ProductListContainer {
      transform: none;
      width: 75%;
      margin: 0 0 0 29px;
    }
  }
}
